@import url(sanitize.css);

body {
    /*-webkit-text-size-adjust: 100%*/
    margin: 0 20px;
    color:#484848;
    line-height: 1.9;
}

header h1{
    text-align: center;
    color: #fff;
    background-color:blueviolet;
    padding: 10px;
}

p{
    margin: 30px 0;
}

h2{
    color:#fff;
    background-color:#003468;
    padding:10px 20px;
    
}

.content{
    padding:5px 20px;
}

h3{
    color: black;
    padding:0px 5px 8px 5px;
    border-bottom: 2px solid #333; 
}

.marker{
    background: linear-gradient(transparent 60%, #fff3a3 60%);
}

.box{
    margin-bottom: 40px;
}
